<div class="h-full w-full flex justify-stretch items-start text-sm">
  <div class="h-full w-3/4 flex flex-col gap-3 justify-start items-center p-4">
    <div
      class="truncate w-full max-w-[720px] bg-white rounded p-3"
      [matTooltip]="selectedFieldGroup().name"
    >
      {{ selectedFieldGroup().name }}
    </div>
    <div
      class="h-full w-full max-w-[720px] bg-white rounded flex flex-col gap-2 justify-start items-start p-3 overflow-auto"
      cdkDropList
      #fieldGroup="cdkDropList"
      [cdkDropListData]="formFields()"
      (cdkDropListDropped)="onCdkDropListDrop($event)"
    >
      @for (item of formFields(); track $index; let idx = $index) {
        <div
          (click)="onEdit(idx)"
          class="flex justify-between items-center"
          [ngClass]="item.class"
          cdkDrag
        >
          <div>
            <p class="truncate" [matTooltip]="item.fieldName">
              {{ item.fieldName }}
            </p>
            <p
              class="truncate text-sm text-stone-300"
              [matTooltip]="item.description"
            >
              {{ item.description }}
            </p>
            @if (item.fieldType === "input") {
              <input
                class="w-72 border border-stone-300 p-2 rounded"
                type="text"
                [placeholder]="item.placeholder"
              />
            } @else if (item.fieldType === "text-area") {
              <textarea
                class="w-72 border border-stone-300 p-2 rounded"
                name=""
                id=""
                [placeholder]="item.placeholder"
              ></textarea>
            } @else if (item.fieldType === "number") {
              <input
                class="w-72 border border-stone-300 p-2 rounded"
                type="number"
                [placeholder]="item.placeholder"
              />
            } @else if (item.fieldType === "date") {
              <input
                class="w-72 border border-stone-300 p-2 rounded"
                type="date"
                [placeholder]="item.placeholder"
              />
            } @else if (item.fieldType === "time") {
              <input
                class="w-72 border border-stone-300 p-2 rounded"
                type="time"
                [placeholder]="item.placeholder"
              />
            } @else if (item.fieldType === "date-time") {
              <input
                class="w-72 border border-stone-300 p-2 rounded"
                type="datetime-local"
                [placeholder]="item.placeholder"
              />
            } @else if (item.fieldType === "radio") {
              <div class="w-full flex justify-start items-center gap-3">
                @for (option of item.options; track $index) {
                  <input
                    class="w-4 h-4 border border-stone-300 p-2 rounded"
                    type="radio"
                    [id]="option"
                    [value]="option"
                    [name]="item.fieldName"
                    [checked]="option === item.defaultValue"
                    [placeholder]="item.placeholder"
                  />
                  <label [for]="option">{{ option }}</label>
                }
              </div>
            } @else if (item.fieldType === "checkbox") {
              <div class="w-full flex justify-start items-center gap-3">
                @for (option of item.options; track $index) {
                  <input
                    class="w-4 h-4 border border-stone-300 p-2 rounded"
                    type="checkbox"
                    [id]="option"
                    [value]="option"
                    [name]="item.fieldName"
                    [checked]="option === item.defaultValue"
                    [placeholder]="item.placeholder"
                  />
                  <label [for]="option">{{ option }}</label>
                }
              </div>
            } @else if (item.fieldType === "select") {
              <select
                class="w-72 border border-stone-300 p-2 rounded"
                name="item.fieldName"
                id="item.fieldName"
              >
                @for (option of item.options; track $index) {
                  <option
                    [value]="option"
                    [selected]="option === item.defaultValue"
                  >
                    {{ option }}
                  </option>
                }
              </select>
            } @else if (item.fieldType === "file") {
              <label
                class="w-72 border border-stone-300 p-2 rounded inline-block cursor-pointer"
              >
                {{ item.placeholder }}
                <input
                  class="hidden"
                  type="file"
                  [placeholder]="item.placeholder"
                />
              </label>
            }
          </div>
          <div class="flex justify-end items-center gap-2">
            <button
              class="text-blue-600 cursor-pointer"
              (click)="onDelete(idx); $event.stopPropagation()"
            >
              Delete
            </button>
          </div>
        </div>
      }
    </div>
  </div>
  @if (selectedFormFieldIndex() === -1) {
    <div class="h-full w-1/4 flex flex-col justify-start items-start bg-white">
      <div
        class="truncate w-full text-stone-500 font-bold p-3"
        matTooltip="Elements"
      >
        Elements
      </div>
      <div
        class="flex-1 w-full flex flex-col gap-2 justify-start items-start overflow-auto"
      >
        @for (
          formFields of availableFormFields | keyvalue: originalOrder;
          track $index
        ) {
          <div
            cdkDropList
            #formFieldList="cdkDropList"
            [cdkDropListData]="formFields.value"
            cdkDropListSortingDisabled
            [cdkDropListConnectedTo]="[fieldGroup]"
            (cdkDropListExited)="onCdkDropListExit($event)"
            (cdkDropListEntered)="removeDroppedItem()"
            class="w-full border-b-1 border-stone-300 p-3"
          >
            <div
              class="truncate w-full flex flex-col gap-2 justify-start items-start text-stone-400 text-xs font-bold pb-3"
              [matTooltip]="formFields.key"
            >
              {{ formFields.key }}
            </div>
            @for (formField of formFields.value; track $index) {
              <div
                class="h-10 w-full flex justify-start items-center text-stone-500 font-semibold cursor-pointer"
              >
                <div
                  class="w-full flex flex-col justify-center items-start"
                  cdkDrag
                  [cdkDragData]="formField"
                >
                  <div class="truncate" [matTooltip]="formField.fieldName">
                    {{ formField.fieldName }}
                  </div>
                  <div
                    class="truncate w-full text-xs text-stone-400 font-medium"
                    [matTooltip]="formField.placeholder"
                  >
                    {{ formField.placeholder }}
                  </div>
                </div>
                @if (droppedItem === formField.fieldName) {
                  <div
                    class="truncate w-full flex flex-col justify-center items-start"
                    [matTooltip]="formField.fieldName"
                  >
                    <div>{{ formField.fieldName }}</div>
                    <div
                      class="truncate w-full text-xs text-stone-400 font-medium"
                      [matTooltip]="formField.placeholder"
                    >
                      {{ formField.placeholder }}
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>
  } @else {
    <div class="h-full w-1/4 bg-white">
      <app-right-drawer></app-right-drawer>
    </div>
  }
</div>
